%h3= @oven.name

.new-container
  .cookie-info

  %br

  = link_to "Prepare Cookie", new_oven_cookies_path(@oven), class: 'button'

:javascript
  const intervalInSeconds = 10;
  let isBusy = null;
  const container = document.querySelector('.cookie-info');
  const fetchData = () => {
      fetch("/ovens/#{@oven.id}.json").then((response) => {
          return response.json();
      }).then(parseData).catch(() => {
          console.log("There was an error");
      });
  }
  const parseData = (data) => {
      if (isBusy != null && isBusy != data.isOvenBusy)
          stateChanged();
      isBusy = data.isOvenBusy;
  }
  const stateChanged = () => {
      container.innerText = '';
      fetch("/ovens/#{@oven.id}/detail").then((response) => {
          return response.text();
      }).then((text) => {
          container.innerHTML = text;
      }).catch(() => {
          console.log("There was an error");
      });
  }
  const id = setInterval(fetchData, intervalInSeconds * 1000)
  stateChanged();