// Place all the styles related to the ovens controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-container{
  display:flex;
  align-items: flex-start;
  flex-direction: column-reverse;
  }

@media only screen and (min-width: 992px){
  .new-container{
    flex-direction: column;
  }
}